{% extends "main.html" %}
{% block tabs %}
<style>
    .mdx-hero__content {
        color: #fefefe;
        font-weight: 800;
        padding: 50px 16px 16px;
    }

    .md-button {
        color: #fefefe !important;
        margin: 8px 4px;
    }
    .md-flex {
        justify-content: center;
    }

    .md-typeset .md-button:focus, .md-typeset .md-button:hover {
        background-color: #EE0F0F;
    }

    @media (max-width: 720px) {
        .mdx-hero__content {
            padding: 16px;
        }
    }
    .mdx-container {
        min-height: calc(100vh - 180px);
    }

    .mdx-container ul > li {
        font-weight: normal;
    }
</style>
<section class="mdx-container">
    <div class="md-flex md-typeset">
        <div class="mdx-hero">
            <img src="{{page.meta.hero_image}}" alt="Striling-PDF Logo" class="mdx-hero__logo">
        </div>
        <div class="mdx-hero__content">
            {{ page.content }}
        </div>
    </div>
    <div class="md-flex md-typeset md-buttons">
        <a href="/docs/use/" class="md-button">Start using Striling-PDF</a>
        <a href="/contribute/" class="md-button">Contribute to Striling-PDF</a>
    </div>
</section>
<svg class="watermark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
    <text x="50%" y="50%" font-size="60" text-anchor="middle" fill="rgba(0, 0, 0, 0.1)">Stirling-PDF Stirling-PDF Stirling-PDF Stirling-PDF Stirling-PDF Stirling-PDF Stirling-PDF Stirling-PDF Stirling-PDF </text>
</svg>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}