name: "Code Review by Gemini AI"

on:
  pull_request:

permissions:
  contents: read

jobs:
  review:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
        with:
          egress-policy: audit
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: "Get diff of the pull request"
        id: get_diff
        shell: bash
        env:
          PULL_REQUEST_HEAD_REF: "${{ github.event.pull_request.head.ref }}"
          PULL_REQUEST_BASE_REF: "${{ github.event.pull_request.base.ref }}"
        run: |-
          git fetch origin "${{ env.PULL_REQUEST_HEAD_REF }}"
          git fetch origin "${{ env.PULL_REQUEST_BASE_REF }}"
          git checkout "${{ env.PULL_REQUEST_HEAD_REF }}"
          git diff "origin/${{ env.PULL_REQUEST_BASE_REF }}" > "diff.txt"
          {
            echo "pull_request_diff<<EOF";
            cat "diff.txt";
            echo 'EOF';
          } >> $GITHUB_OUTPUT
  #     - uses: ludy87/action/reviewer@main
  #       name: "Code Review by Gemini AI"
  #       id: review
  #       with:
  #         gemini_api_key: ${{ secrets.GEMINI_API_KEY }}
  #         github_token: ${{ secrets.GITHUB_TOKEN }}
  #         github_repository: ${{ github.repository }}
  #         github_pull_request_number: ${{ github.event.pull_request.number }}
  #         git_commit_hash: ${{ github.event.pull_request.head.sha }}
  #         model: "gemini-1.5-pro-latest"
  #         pull_request_diff: |-
  #           ${{ steps.get_diff.outputs.pull_request_diff }}
  #         pull_request_chunk_size: "3500"
  #         extra_prompt: |-
  #           Always answer in American English!
  #         log_level: "DEBUG"
